
$rcf-red: rgb(236,12,41);
$rcf-gray: #e6e6e6;
$standard-font:'Open Sans', sans-serif;
$emphasis-font: 'Roboto Slab', serif;

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: $standard-font;
  margin:0px;
  position:relative;
}

.view-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.audio-blip {
  background: red;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(236,12,41, 1);
	height: 35px;
	width: 35px;
  margin:auto;
	transform: scale(1);

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.stopped-audio {
  animation: none;
}

.active-audio {
  animation: pulse 2s infinite;
  pointer-events: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(236,12,41, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(236,12,41, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(236,12,41, 0);
	}
}

.visible {
  opacity: 1;
  z-index:99;
  transition:  2s opacity 2s linear;
}

.invisible {
  opacity: 0;
  z-index:-1;
  transition: visibility 0s 2s, opacity 2s linear;
}

.info-visible {
  opacity: 0.9;
  z-index:999;
  transition:  opacity 0.5s linear;
}

.info-invisible {
  opacity: 0;
  z-index:-1;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#overlay {
  width: 100%;
  height: 100%;
  background:  linear-gradient(
     rgba(0,0,0, 0.9),
     rgba(0,0,0, 0.9)
   ), url("../assets/bg_outside.jpg") no-repeat 50% 50% fixed;
 background-repeat: no-repeat;
 background-size: 125%;
 position: relative;



 #quote-text {
   font-size: 45px;
   color: white;
   z-index: 99;
   padding-top: 10%;
   text-align: center;
   width: 80%;
   margin: auto;
   font-family: $emphasis-font;
   #quote-container {
     width: 90%;
   }
   #attribution {
     font-size: 30px;
     color: $rcf-red;
     opacity: 0;
     transition: opacity 1.5s linear;
     transition-delay: 0.25s;
   }
 }

 .button-container {
   position: absolute;
   bottom: 10%;
   width: 30%;
   left:35%;
   .button {
     margin:auto;
     background-color: white;
     color: black;
     padding: 15px;
     text-align: center;
     font-size: 20px;
     border-radius: 10px;
     opacity: 0;
     margin-top: 2vh;
     transition: background-color 0.75s ease-in-out, color 0.25s linear, opacity 1s 2s linear;

     &:hover {
       background-color:  $rcf-red;
       color: white;
       cursor: pointer;
     }
   }
 }
}

#landing-page {
  width: 100%;
  height: 100%;
  background:  linear-gradient(
     rgba(255,255,255, 0.8),
     rgba(255,255,255, 0.8)
   ), url("../assets/bg_inside_2.jpg") no-repeat 50% 77% fixed;
 -webkit-background-size: 185%;
 -moz-background-size: 185%;
 -o-background-size: 185%;
  background-size: 185%;
  position: relative;

  .target-cluster {
    img {
      position: absolute
    }
  }
}

#cluster-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;

  #puzzle {
    position: relative;
  }

  .audio-blip {
    position: absolute;
    bottom: 5%;
    right: 50%
  }

  .figure {
    position: absolute;
  }

  .image-stack {
    position: relative;
    img {
      position: absolute;
      top: 0px;
      left:0px;
      transition: opacity 0.5s ease;
      height: 60vh;
      width: auto;
    }
  }

  #exit {
    font-size: 45px;
    color: $rcf-gray;
    &:hover {
      color:$rcf-red
    }
    position: absolute;
    top:2%;
    left:2%;
    z-index:9999;
  }
}

.step-info {
  border: 2px solid $rcf-red;
  background-color: $rcf-gray;
  border-radius: 5px;
  padding: 0.75%;
  position: absolute;

  a {
    color: $rcf-red;

    &:visited {
      color: $rcf-red;
    }
  }
}

.info-section-text {
  font-size: 15px;
  .info-quote {
    font-style: italic;
  }
}

.extra-icon {
  color: $rcf-red;
  &:hover {
    cursor: pointer;
  }
  font-size: 16px;
  margin-top: 3px;
}

.code-extra {
  .popover {
    background-color: black;
    .popover-body {
      color:rgb(0,255,0);
      font-family: monospace;
    }
  }
  .bs-popover-bottom .arrow::after {
    border-bottom-color: black;
  }
}

.popover {
  img {
    width: 100%;
    height: auto;
  }
  max-width: 600px !important;
  z-index: 9999;
}

#puzzle {
  transition: opacity 5s linear;
}

#true-images {
  position: relative;
  .miniature {
    position: absolute;
    img {
      width: auto
    }
  }
}

.miniature-visible {
  opacity: 1;
  transition: opacity 5s linear;
}

.miniature-invisible {
  opacity: 0;
}

/*could use a sungle class, but keep these for now in case we want to use different transitions in future*/
.phedre-transition, .oedipe-transition, .preville-transition{
  position: absolute;
  right: -17vw;
  top: 15vh;
  width: 16vw;
  height: auto;
  -webkit-animation: slide 1.5s forwards;
  -webkit-animation-delay: 0.8s;
  animation: slide 1.5s forwards;
  animation-delay: 0.8s;
}


@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

#transition-quote {
  font-size: 25px;
  font-family: $emphasis-font;
  position: absolute;
  color: black;
  top: 1vh;
  width: 50%;
  left: 45%;
  text-align: right;
}
