<div class="info-section-text" id="ld-6a">
  <p>Les carrières de Dumesnil - qui débute en 1737 - et de Lekain - qui, lui, débute en 1750 - se chevauchent et se comparent, puisque <span class="truth-yellow">ce sont deux représentants de la célébrité des acteurs tragiques en cette période</span> de théâtromanie, et sans surprise, <span class="truth-green">ils sont fréquemment unis sur scène</span>. Entre 1765 et 1776, date du départ de Dumesnil, les deux acteurs paraissent ensemble sur scène <extra-info position="right" code="select count(*) from casting_records i1, casting_records i2 where i1.feux_play_id= i2.feux_play_id and i1.actor_id =191 and i2.actor_id = 336">166 fois</extra-info>, ce qui constitue pour tous les deux <a href="https://graphe.cfregisters.org/#!/aa/191&336" target="_blank">plus d’un quart de leurs représentations totales</a>.<p>
  <p>De 15 ans l’aînée de Lekain, <span class="truth-green">Dumesnil est tantôt sont amante, tantôt sa mère</span>, mais dans un cas comme dans l’autre, <span class="truth-red">la présence conjointe des deux vedettes est un gage de succès</span>.</p>
  <div class="truthiness-buttons">
    <div class="tb-green" ng-click="update_truthiness('ld-6a', 'green')"></div>
    <div class="tb-yellow" ng-click="update_truthiness('ld-6a', 'yellow')"></div>
    <div class="tb-red" ng-click="update_truthiness('ld-6a', 'red')"></div>
  </div>
</div>
