<div class="info-section-text" id="cd-2">
  <p>Si on observe la presse, Clairon aurait le plus <span class="truth-yellow">profondément marqué le paysage théâtral</span>. Dans le <i>Mercure de France</i>, elle demeure la comédienne <extra-info position="top" code="select index_id, count(*) as cnt from documents join mentions on doc_id = documents.id where type='comedien' and name like '%Mercure%' group by index_id order by cnt desc">la plus mentionnée</extra-info>, même après sa retraite précoce en 1766 qui survient une dizaine d’années avant celle de Dumesnil. Seul l’acteur <a href="https://www.comedie-francaise.fr/fr/artiste/francois-rene-mole" target="_blank">François-René Molé</a> surpasse Clairon dans ce périodique.<span class="truth-green"> Le <i>Mercure de France</i> mentionne le nom de Mademoiselle Clairon 231 fois et 12% de ses mentions apparaissent après sa retraite, alors que Dumesnil n’est mentionnée qu’à 135 reprises au total.</span></p>
  <p>
    Dans la <i>Correspondance littéraire</i> de Grimm, autre périodique essentiel pour comprendre la vie culturelle de cette période, elle dépasse même la coqueluche Molé. Elle est mentionnée <extra-info position="left" code="select index_id, count(*) as cnt from documents join mentions on doc_id = documents.id where type='comedien' and name like '%Corresp%' group by index_id order by cnt desc">150</extra-info> fois sur les 84 parutions de ce dernier, alors que sa rivale, Dumesnil, n’est mentionnée qu’à 28 reprises. La préférence de la <i>Correspondance littéraire</i> <span class="truth-yellow">s’explique sans nul doute par le parti pris philosophique du périodique et l’influence de Diderot, lui aussi théoricien et <a href="https://gallica.bnf.fr/ark:/12148/bpt6k5567617c/f10.item.texteImage" target="_blank">défenseur du jeu naturel</span></a>.
  </p>
  <p>L’ éloge poétique qui paraît dans la <i>Correspondance littéraire</i> de 1765 témoigne clairement de la supériorité accordée à Clairon : </p>
  <p class="info-quote">
    Clairon, daigne accepter nos fleurs;<br/>Tu vas en ternir les couleurs;<br/>Ton sort est de tout effacer.<br/>La rose expire,<br/>Mais ton empire,<br/>Ne peut passer.
    <extra-info recording="assets/popovers/chanson_clairon_dernier_vers.mp3"></extra-info>
  </p>
  <div class="truthiness-buttons">
    <div class="tb-green" ng-click="update_truthiness('cd-2', 'green')"></div>
    <div class="tb-yellow" ng-click="update_truthiness('cd-2', 'yellow')"></div>
    <div class="tb-red" ng-click="update_truthiness('cd-2', 'red')"></div>
  </div>
</div>
