<div class="info-section-text" id="cd-5b">
  <p>Voltaire était lui aussi un grand défenseur de la réforme du costume. <span class="truth-green">Ayant constaté que la résistance de certains comédiens était en fait lié à des considérations économiques - devoir acheter un plus grand nombre d’habits -,  il prend la décision de renoncer à ses droits d’auteur pour financer des costumes plus authentiques pour certaines pièces -- notamment <i>Zaïre</i> et l’<i>Orphelin de la Chine</i></span>. Dans le <i>Mercure de France</i> de 1755, on écrit à ce sujet  :</p>
  <p class="info-quote">On doit dire à la louange des Comédiens François, qu'ils n'ont rien épargné pour la mettre au théatre avec tout l'éclat qu'elle mérite. Ils y ont même observé le costume autant qu'il est possible de le suivre. Mlle Clairon faite pour servir de modele, a osé la premiere supprimer le panier. Mlle Hus a eu le courage de l'imiter ; elles y ont gagné : tout Paris a approuvé le changement, & ne les a trouvées que plus aimables.</p>
  <p>On conserve également des traces du changement apporté au costume d’Electre, autre grand rôle de Clairon; la silhouette de la robe <span class="truth-yellow">change dramatiquement</span> quand elle est portée <extra-info position="left" image="<img src='assets/popovers/avec_panier.jpg'/>">avec</extra-info> ou <extra-info position="bottom" image="<img src='assets/popovers/sans_panier.jpg'/>">sans</extra-info> panier.</p>
  <div class="truthiness-buttons">
    <div class="tb-green" ng-click="update_truthiness('cd-6b', 'green')"></div>
    <div class="tb-yellow" ng-click="update_truthiness('cd-6b', 'yellow')"></div>
    <div class="tb-red" ng-click="update_truthiness('cd-6b', 'red')"></div>
  </div>
</div>
