<div class="info-section-text"  id="pre-3b">
  <p>Préville était associé au rôle de la Rissole qu'il a joué <extra-info position = "bottom-left" code="select actor_id, count(*) from casting_records where role_id = 283 group by actor_id">96 fois sur les 113 représentations</extra-info> de la pièce entre 1765 et 1792, période dont on connaît avec certitude la distribution du répertoire. D’après <i>Les Mémoires de Préville</i> de K. S. H, parus en 1812. Préville en homme très agé et <span class="truth-red">souffrant de la perte de ses facultés</span> <span class="truth-yellow">aurait joué Rissole à la perfection</span>. C'est aussi par ce rôle qu'il achève sa carrière, la boucle étant aussi bouclée puisque la Rissole été un de ses premiers succès.</p>
  <p class="info-quote">
  La salle retentissait encore des applaudissemens qu’on venait de lui donner dans le rôle de la Rissole, et il entrait dans la coulisse soutenu par Champville son neveu
   - Doublons le pas, lui dit-il, nous voici dans la forêt, la nuit est sombre et nous aurons peine à nous en tirer (Il se croyait dans la forêt de Senlis).
   - Eh! non, mon oncle, lui répondit Champville: c’est une toile peinte qui vous trompe: vous venez de jouer la Rissole; vous traversez le théâtre pour aller vous habiller en procureur et en abbé.
    Préville serrant la main de son neveu
    - tu as raison: ne me quitte pas.
    Le même génie qui l’avait accompagné dans tous ses rôles lui prêta de nouvelles forces, et il termina cette représentation comme il l’avait commencé; mais en sortant de la scène : c’en est fait, dit-il à son neveu, ne ne jourai plus la comédie.
  <p>
    <div class="truthiness-buttons">
      <div class="tb-green" ng-click="update_truthiness('pre-3b', 'green')"></div>
      <div class="tb-yellow" ng-click="update_truthiness('pre-3b', 'yellow')"></div>
      <div class="tb-red" ng-click="update_truthiness('pre-3b', 'red')"></div>
    </div>
</div>
